.navbar {
  line-height: 50px;
  height: 50px;
  font-family: Helvetica;
  color: #333;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 2px solid #333;
  letter-spacing: 1px;
}

.nav-cart img {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  vertical-align: middle;
  padding: 3px;
  margin-right: 10px;
}
.nav-name {
  display: inline-block;
  width: 50%;
  margin-left: 10%;
}
.nav-cart {
  display: inline-block;
  width: 30%;
  text-align: right;
}
.name {
  height: 450px;
  width: 100%;
  display: block;
  position: relative;
  font-family: Helvetica;
  font-size: 96px;
  text-align: center;
  line-height: 450px;
  font-weight: bold;
}

.name::after {
  content: "";
  background: url("https://s3.amazonaws.com/viking_education/demos/viking_store_app/viking_ship_background_medium.jpg") 0 0 no-repeat;
  background-size: 100% 445px;
  margin-top: 2px;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.name-bottom {
  height: 200px;
  background-color: #333;
  color: #FEFEFE;
  font-size: 54px;
  font-family: Helvetica;
  line-height: 200px;
  text-align: center;
}

.choices-top {
  height: 80px;
  color: #555;
  text-align: center;
  font-style: italic;
  line-height: 80px;
  font-size: 28px;
  font-family: Helvetica;
  border: 2px solid #aaa;
}
.choices {
  margin: 20px 120px;
}
.option {
  display: inline-block;
  width: 320px;
  height: 350px;
  margin: 8px 1.5%;
  border: 2px solid black;
  background-color: #333;
}

.option img {
  width: 290px;
  height: 260px;
  border: 3px solid #666;
  padding: 2px;
  margin-left: 9px;
}

.option input {
  display: block;
  height: 30px;
  background-color: #F6B26B;
  border: 2px solid #222;
  margin: 7px auto;
  width: 140px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
}
.option p {
  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  color: #FEFEFE;
  height: 30px;
  line-height: 30px;
}

.image {
  position: relative;
  width: 100%;
}
.option .price {
  position: absolute;
  top: 5px;
  right: 16px;
  border: 1px solid #333;
  font-size: 14px;
  font-family: Helvetica;
  color: #aaa;
  background-color: white;
  width: 60px;
  height: 25px;
  line-height: 25px;
}
.pages {
   margin-top: 20px;
   margin-bottom: 30px;
}
.pages li {
  display: inline-block;
}

.pages ul {
  text-align: center;
}

.pages li a {
  font-family: Helvetica;
  font-size: 16px;
  padding: 8px;
  font-weight: bold;
}

.pages .current-page a {
  text-decoration: none;
  color: #333;
}

